{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="{% static 'images/roomify_favicon.png' %}" />
    <title>RoomifyUAP | Search Hostels Rentals</title>
    <link rel="stylesheet" href="{% static 'css/homepage_styles.css' %}" />
  </head>

  <body>
    <header class="navbar">
      <div class="logo">
        <img src="{% static 'images/ROOMIFY.png' %}" alt="Logo" />
        <div>
          <h2>RoomifyUAP</h2>
        </div>
      </div>
      <nav>
        <a href="{% url 'login_user' 'user' %}" class="btn">Sign In / Sign Up</a>
      </nav>
    </header>

    <section class="hero">
      <h1>Search Hostels Rentals</h1>
      <p>Search low prices on hostels, homes and much more...</p>
      <form class="search-box">
        <input type="text" placeholder="Search destination" />
        <input type="date" />
        <input type="date" />
        <button type="submit">Search</button>
      </form>
    </section>

    <section class="offers">
      <h2>Find Your Next Stay</h2>
      <div class="cards">
        <div class="card">
          <img src="{% static '/images/first-class-room.jpg' %}" alt="First Class Room" />
          <h3>First Class Room</h3>
        </div>
        <div class="card">
          <img src="{% static '/images/room-for-two.png' %}" alt="Room For Two" />
          <h3>Room For Two</h3>
        </div>
        <div class="card">
          <img src="{% static '/images/ordinary-room.png' %}" alt="Ordinary Room" />
          <h3>Ordinary Room</h3>
        </div>
      </div>
    </section>

    <footer>
      <p>© 2025 RoomifyUAP | All rights reserved</p>
    </footer>
  </body>
</html>
